<?xml version="1.0" ?>
<robot name="sphero" xmlns:xacro="http://www.ros.org/wiki/xacro">
  
  <xacro:include filename="$(find sphero_formation_rl)/urdf/materials.xacro" />
  <xacro:include filename="$(find sphero_formation_rl)/urdf/sphero.gazebo" >
  </xacro:include>
  <xacro:include filename="$(find sphero_formation_rl)/urdf/macros.xacro" />
  <xacro:include filename="$(find sphero_formation_rl)/urdf/sphero_dummy.xacro" />


  <link name="link_chassis">
    <pose>0 0 0 0 0 0</pose>
    <inertial>
      <mass value="1"/>
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <inertia ixx="1.0" ixy="0" ixz="0" iyy="1.0" iyz="0" izz="1.0"/>
    </inertial>
    <collision name="collision_chassis">
      <geometry>
        <sphere radius="0.036"/>
      </geometry>
    </collision>
    <visual>
      <geometry>
        <sphere radius="0.036"/>
      </geometry>
      <material name="White">
        <color rgba="1.0 1.0 1.0 0.7"/>
      </material>
    </visual>


  </link>

<!-- 
  <xacro:link_wheel name="link_right_wheel" r="0.0381" l="0.001" incr="0.002"/>
  <xacro:joint_wheel name="joint_right_wheel" child="link_right_wheel" origin_xyz="0 0.0181 0" />

  <xacro:link_wheel name="link_left_wheel" r="0.0381" l="0.001" incr="0.002"/>
  <xacro:joint_wheel name="joint_left_wheel" child="link_left_wheel" origin_xyz="0 -0.0181 0" />

  <xacro:sphero_dummy  name="sphero_dummy" parent="link_chassis" r="0.0381" l="0.001" incr="0.002"/> -->

</robot>


